*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Abel;
    src: url(../assets/fonts/Abel-Regular.ttf);
}


    body {
        background-color:antiquewhite;
        font-family: Abel, sans-serif;
    }   

 header h1 {
    background-color: rgb(231, 231, 179);
    height: 100px;
    width: 1250px;
    text-align: center;
    line-height: 50px;
    color: black;
    border-bottom: 10px solid #fff;
    font-size: 50px;
    
}

nav {
    background: #0000;
    height: 50px;
    border-bottom: 5px solid #fff;
    
}



.grid-layout {
 display: grid;
 grid-template-columns: repeat(2), 1fr;
 width: 1250px;
 margin: 0px;
 background-color: rgb(255, 255, 255);
 padding: 10px;
 border: 1px;

}


.grid-layout1 .list {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    width: 1250px;
    height: 70px;
    margin: 15px;
    text-align: left;
    line-height: 15px;
    float: left;
   
}

.grid-layout2 {
    background-color: rgb(247, 245, 245);
    grid-template-columns: auto auto ;
    border: 4px solid black;
    width: 1250px;
    height: 400px;
    margin: 15px;
    text-align: left;
    line-height: 150px;
    float: left;
    align-items: left;
   
}


.grid-layout3 .section-1 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align: left;
    width: 1250px;
    height: 30px;
    margin: 15px;
    text-align: left;
    line-height: 15px;
    float: left;
   
}

.grid-layout4 .section-2 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align:center;
    width: 1250px;
    height: 100px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
    
}

.grid-layout5 .section-3 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align:center;
    width: 1250px;
    height: 120px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
    
}

.grid-layout6 .section-4 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align:center;
    width: 1250px;
    height: 120px;
    margin: 15px;
    text-align: left;
    line-height: 25px;   
    float: left;
 
}

.grid-layout7 .form1 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align:center;
    width: 500px;
    height: 500px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
  
}

.grid-layout8 .form1 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    text-align:center;
    width: 500px;
    height: 500px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
   
}

.terapia .img{
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    width: 1250px;
    height: 500px;
    margin: 15px;
    text-align: center;
    line-height: 10px;
    float: left;
    min-width: 500px;
    max-width: 1300px;
    margin-bottom: 0px;
}


.terapia1 .img {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    width: 1250px;
    height: 150px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
    min-width: 500px;
    max-width: 1300px;
    margin-bottom: 0px;

}

.terapia2 .terapia2 {
    background-color: rgb(247, 245, 245);
    border: 4px solid black;
    width: 1250px;
    height: 250px;
    margin: 15px;
    text-align: left;
    line-height: 25px;
    float: left;
  
}


    .terapia2 .list1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 100px;
        margin: 15px;
        text-align: left;
        line-height: 20px;
        float: left;
        

    } 


    .fisica1 .section-1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 250px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
        
    }

    .fisica2 .list1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 180px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
      

    }

    .img .img1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 350px;
        height: 180px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
      

    }

    .kinesio .kinesio1{
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 350px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
       

    }
    
    .kinesio .kinesio1 .img1{
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 250px;
        height: 250px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
      

    }

    .list .list1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 300px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
    


    }

    .form .contacto .form1 {
        background-color: rgb(247, 245, 245);
        border: 4px solid black;
        width: 1250px;
        height: 300px;
        margin: 15px;
        text-align: left;
        line-height: 25px;
        float: left;
     

    }

    legend{
        text-align: center;
    }

nav ul li {

    float: left;
    list-style: none;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
   
}

a:hover {
    background-color: #fff;
    color: blue;
}

a:active {
    background-color: #fff;
    color: red;
}


aside ol li {
    float: left;
    list-style: none;
    margin: 10px;
    color: rgb(66, 30, 199);
    font-size: 20px;
    line-height: 30px;
  

}


.main-section p:nth-child(1) {
    color: green;

}


footer {
    background: #fff;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
   

}

